*~
.DS_Store
.svn
.cvs
*.bak
*.swp
*.tmp
*.log
/auth.json
Thumbs.db
.vagrant/
/public/
node_modules/
/bin/composer_vendor/
*.codekit
*.codekit3
.sass-cache
/bin/composer/
/bin/phpcs/
/db/*.sql.gz
/provisioning/playbook.retry
/docker/data/
/.env
