/* =============================================================================
   BUTTONS (settings/_buttons.scss)
   ========================================================================== */

$buttons-padding-x: 1rem;
$buttons-padding-y: .5rem;
$buttons-transition-speed: .2s;
