/* =============================================================================
   OFFCANVAS (settings/_offcanvas.scss)
   ========================================================================== */

$offcanvas-background-color: color( extra, white );
$offcanvas-offset-top: 0;
$offcanvas-z-index: 998;
